@model Products

@{
    ViewData["Title"] = @Model.Title;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            @if (User.IsInRole("Admin") || User.IsInRole("Employees"))
            {
                <button onclick="window.location.href='@Url.Action("UpdateProduct", "Product", new {productId = Model.Id})'">Update Product</button>
                <form method="post" asp-controller="Product" asp-action="DeleteProduct">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            }
            <h1>@Model.Title</h1>
            <img src="" alt="@Model.Title" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-6">
            <div class="position-relative">
                @if (Model.QuantityInStock > 0)
                {
                    <span class="badge bg-success position-absolute top-0 end-0 m-3">@Model.QuantityInStock Available</span>
                }
                else
                {
                    <span class="badge bg-danger position-absolute top-0 end-0 m-3">Sold Out</span>
                }
            </div>
            
            <h3 class="text-center my-3">@Model.Description</h3>
            <h4 class="text-center text-success">@Model.Price.ToString("C")</h4>
            
            <div class="card-footer d-flex justify-content-between">
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <button type="submit" class="btn btn-outline-primary">Add to Cart</button>
                </form>

                @* Buy now could be a add to cart method + go to finalize *@
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <button type="submit" class="btn btn-outline-primary" onclick="window.location.href='@Url.Action("Index", "Home")'">Buy now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h3>Customer Reviews</h3>
        <div class="list-group">
            <div class="list-group-item">
                <h5 class="fw-bold">Usuario Fake</h5>
                <p>Otimo produto!</p>
            </div>
            <div class="list-group-item">
                <h5 class="fw-bold">Nunca Comprei</h5>
                <p>Chegou tudo certinho!</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var referer = document.referer;
        var refererInput = document.createElement("input");
        refererInput.type = "hidden";
        refererInput.name = "Referer";
        refererInput.value = referer;

        document.forms[0].appendChild(refererInput);
    </script>
}
